@import '~sass/variables';

.container {
    height: 100%;
    margin-top: 64px;
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.banner-profile {
    width: 100%;
    border-bottom: 1px solid #dcdcdd;
    background: rgb(250, 251, 252);
    display: flex;
    align-items: center;
    justify-content: space-around;
    .banner-container {
        width: 900px;
        display: flex;
        align-items: center;
        .face {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            padding-right: 60px;
            img {
                border-radius: 50%;
                border: 3px solid $color-primary;
                height: 100px;
                width: 100px;
            }
            h1 {
                color: $color-text-heading;
            }
        }
        .sub {
            display: flex;
            align-items: center;
            flex-direction: row;
            h1 {
                font-size: 30px;
                color: $color-text-heading;
            }
            .subtitle {
                margin-top: -24px;
                margin-left: 8px;
            }
        }
    }
}

mat-tab-group {
    margin-bottom: -1px;
}
signals, subscriptions {
    height: 100%;
    width: 100%;
}