<div class="container">
    <div class="banner-profile">
        <div class="banner-container">
            <div class="face-container">
                <div class="face mat-typography">
                    <img src="./assets/images/candles.png">
                    <h1>@vanmxpx</h1>
                </div>
                <div class="sub mat-typography">

                        <h3>Подписка: <strong>Месячная</strong></h3>
                        <div class="sub-ends">
                            <div>
                                <h1>13 дней</h1>
                                <h3 class="subtitle">до окончания</h3>
                            </div>
                            <button mat-raised-button color="warn" routerLink="/subscribe" routerLinkActive="active">Продлить</button>
                        </div>

                </div>
                
            </div>

            <mat-tab-group (selectedTabChange)="onLinkClick($event)">
                <mat-tab label="Новости"></mat-tab>
                <mat-tab label="Сигналы"></mat-tab>
                <mat-tab disabled label="Настройки"></mat-tab>
            </mat-tab-group>
        </div>
    </div>
    <div class="profile-body" [ngSwitch]="state">
        <news-profile *ngSwitchCase="'news'"></news-profile>
        <signals *ngSwitchCase="'signs'"></signals>
    </div>

</div>