<div class="container">

    <div class="banner-profile">
        <div class="banner-container">
            <div class="face mat-typography">
                <img src="./assets/images/candles.png">
                <h1>@vanmxpx</h1>
            </div>
            <div class="sub">
                    <div class="title mat-typography">
                        <h3>Подписка: <strong>Месячная</strong></h3>
                        <h1>13 дней</h1>
                        <h3 class="subtitle">до окончания</h3>
                    </div> 
                    <button mat-raised-button color="warn">Продлить</button>
                </div>
        </div>
    </div>
    
    <signals></signals>
    <subscriptions></subscriptions>
</div>