@import '~sass/variables';

// https://ezgif.com/video-to-gif/ezgif-4-d72d5989ac.vid
// https://www.shutterstock.com/video/clip-14161637?irgwc=1&utm_medium=Affiliate&utm_campaign=Pexels%20GmbH&utm_source=106918&utm_term=
// https://www.shutterstock.com/video/clip-4187297-stock-footage-seamlessly-looping-abstract-animation-of-financial-stock-data.html?src=search/4k2FcPG8k5ZFWIQ4UuH3pg:1:33
.banner {
    margin-bottom: 20px;
    min-width: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
    min-height: 700px;
    background-image: url('assets/main5.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    video {
        width: 100%;
        min-width: 700px;
        margin-left: -100%;
    }
    .main-picture {
        // width: 100%;

    }
}

.wellcome-box {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 139px;
    z-index: 2;
    .border {
        //margin-left: -500px;
        @media only screen and (max-width: 760px) {
            margin-left: 0;
        }
        //padding: 10px;
        background: rgba(253, 253, 253, 0.88);
        width: 385px;
        height: 320px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    section {

            display: flex;
            flex-direction: column;
            align-items: center;
    }
    h3.quote {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 15px;
        flex-direction: column;
        // background: rgba(253, 253, 253, 0.88);
        color: #cc141c;
        font-family: 'Squada One';
        font-size: 24px;
        line-height: 40px;
        // margin-bottom: 24px;
    }
    
    h3.quote:after {
        background: #cc141c;
        content: '';
        display: block;
        height: 2px;
        margin-bottom: 10px;
        width: 90%;
    }

    // h3.quote { 
    //     background: rgba(253, 253, 253, 0.88);
    //     color: #201e1e; 
    //     font-family: 'Lato', sans-serif; 
    //     font-size: 24px; 
    //     font-weight: 300; 
    //     line-height: 58px; 
    //     margin: 0 0 58px; 
    // }
    ul{
        padding-left: 0;
        margin-top: 16px;
        margin-bottom: 10px;
    }
    li {
        
        display: flex;
        align-items: center;
        color:  #545454;
        mat-icon { 
            font-size: 20px;
            width: 20px;
            height: 20px;
            color: #790212;
            padding-right: 4px;
        }
        .text {
            text-align: start;
            width: 100%;
            padding: 2px 5px;
            background: #ffffff6b;
        }
    }
    h1 {
        //margin-left: 24px;
        margin-bottom: 0px;
        font-size: 60px;
        color: $color-text-secondary;
    }
    h3 {
        //margin-left: 24px;
        font-size: 20px;
        margin-top: 4px;
    }
    button {
        margin: 5px 0 5px 24px;
    }
}
mat-card {
    margin: 30px 0;
}
.section-propose {
    .content {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;

        mat-card {
            max-width: 310px;
        }
    }
}

.section-trading {
    padding-top: 30px;
    .content {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;

        mat-card {
            max-width: 90%;
            mat-card-content {
                display: flex;
                flex-flow: row wrap;
                justify-content: space-around;
                .item {
                    max-width: 50%;
                    padding: 5px;
                }
            }
            
        }
    }
}

.section-contact {
    padding: 30px 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

        .item {
            max-width:30%;

        }

        .info {
            ul {
                list-style: none;
            }
            li {
                padding: 4px;
                display: flex;
                text-align: start;
            }
        }

        .email {
            mat-form-field {
                width: 100%;
                max-height: 300px;
            }
        }
}

footer {
    color: gainsboro;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow-x: auto;
    height: 70px;
    padding: 0 20px; 
    background: rgb(195, 0, 47);
    section.copyright {
        vertical-align: middle;
        h1 {
            margin: 0;
            font-size: 16px;
        }
    }

    section.social {
        ul {
            list-style: none;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        li {
            text-align: center;
            width: 70px;
            div {
                width: 50px;
                height: 50px;
                background-color: #fff;
                display: flex;
                align-items: center;
                justify-content: center;
                i {
                    font-size: 22px;
                    color: rgb(195, 0, 47);
                }
            }
        }
    }

}

