<div class="container">
        <div class="header">
            <div class="manadge-panel">
                <div class="message mat-typography">
                    <h3>15/03/2018 06:00 PM</h3> <button mat-raised-button><mat-icon>show_chart</mat-icon> Добавить сигнал</button>
                </div>
            </div>
                <mat-form-field class="actions">
                  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                </mat-form-field>
              </div>
              
              <div class="table mat-elevation-z8">
              
                
              </div>
</div>