@import '~sass/variables';

.container { 
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .manadge-panel {
        width: 100%;
        background: $color-sidepanel;
        border-bottom: 1px solid $color-border;
    }
    .message {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 148px;
        h3 { margin: 0 10px; }
        button { 
            margin: 0 10px; 
            background: $color-text-secondary;
            color: $color-text-primary;
        }
    }
    .actions {

        width: 80%;
    }
}
