<div class="news-item"> 
    <div class="item">
        <div class="item-content">
            <div class="content-header">                         
                <a>{{ news.title }}</a>
                <p>{{ news.date }}</p>
            </div>
            <div class="content-body">  
                <img [src]="news.attachment">
            </div>
            <div class="content-body">
                <p class="mat-typography">{{ news.body }}</p>
            </div>
            <div class="content-footer">
                <div class="button-like">
                    <button mat-icon-button matTooltip="Нравится"><mat-icon>favorite</mat-icon>{{ news.likes }}</button>
                    <button mat-icon-button matTooltip="Не нравится :("><mat-icon>mood_bad</mat-icon>{{ news.dislikes }}</button>
                </div>
                <div class="button-expand">
                    <button mat-button>Подробнее</button>
                </div>
            </div>
        </div>
    </div>
</div>