<div class="container">
    <div class="header">
        <div class="manadge-panel">
            <div class="message mat-typography">
                <h3>{{date | date:'yyyy-MM-dd hh:mm:ss a'}}</h3> <button mat-raised-button (click)='addNew()'><mat-icon>show_chart</mat-icon> Добавить сигнал</button>
            </div>
        </div>
        <div class="actions">
            <mat-form-field class="title">
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Поиск..">
            </mat-form-field>
        </div>
    </div>
    <div class="table">
        <mat-table #tableSigns [dataSource]="dataSourceSigns" matSort>
      
          <!-- ID Column -->
          <ng-container matColumnDef="Id">
            <mat-header-cell *matHeaderCellDef mat-sort-header> # </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.Id}} </mat-cell>
          </ng-container>
      
          <!-- Progress Column -->
          <ng-container matColumnDef="Coin">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Монета </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.Coin}} </mat-cell>
          </ng-container>
      
          <!-- Name Column -->
          <ng-container matColumnDef="Date">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Дата </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.Date}} </mat-cell>
          </ng-container>
      
          <!-- Status Column -->
          <ng-container matColumnDef="Status">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Риск </mat-header-cell>
            <mat-cell *matCellDef="let row"> 
                <div [ngSwitch]="row.Status">
                    <div class="sign safe" matTooltip="Риск: Низкий" *ngSwitchCase="SignalLevel.Low">
                        <mat-icon >beenhere</mat-icon>
                    </div>
                    <div class="sign warning" matTooltip="Риск: Средний" *ngSwitchCase="SignalLevel.Middle">
                        <mat-icon >warning</mat-icon>
                    </div>
                    <div class="sign danger" matTooltip="Риск: Высокий. Торговля опасна" *ngSwitchCase="SignalLevel.Hight">
                        <mat-icon style="margin-left: -5px;">priority_high</mat-icon>
                        <mat-icon style="margin-left: -15px;">priority_high</mat-icon>
                    </div>
                </div>
            </mat-cell>
          </ng-container>
      
          <!-- Edit Column -->
          <ng-container matColumnDef="Edit">
              <mat-header-cell *matHeaderCellDef></mat-header-cell>
              <mat-cell *matCellDef="let row">                    
                  <button matTooltip="Править" mat-icon-button (click)="addNew(row)">
                      <mat-icon style="color: rgb(35, 35, 161)">edit</mat-icon>
                  </button>
              </mat-cell>
          </ng-container>

          <!-- Remove Column -->
          <ng-container matColumnDef="Remove">
              <mat-header-cell *matHeaderCellDef></mat-header-cell>
              <mat-cell *matCellDef="let row">                    
                  <button matTooltip="Удалить" mat-icon-button (click)="expandedElement = row">
                    <mat-icon style="color: red">close</mat-icon>
                  </button>
              </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row class="element-row" *matRowDef="let row; columns: displayedColumns;"
              [cdkDetailRow]="row" [cdkDetailRowTpl]="tpl" [cdkExpandedRow]="expandedElement"></mat-row>
        </mat-table>
      
        <mat-paginator #paginatorSigns [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="10"></mat-paginator>
    </div>
</div>

<ng-template #tpl let-element>
    <div class="mat-row detail-row" [@detailExpand]>
          Вы хотите удалить этот сигнал?
          <button mat-mini-fab class="apply-remove" (click)="removeSign()"><mat-icon>done</mat-icon></button>
          <button mat-mini-fab class="dis-remove" (click)="dismissRemove()"><mat-icon>close</mat-icon></button>
    </div>
</ng-template>