<div class="list-item" [ngClass]="signal.status">
    <!-- info safe warning danger-->
    <!-- info beenhere warning priority_high-->
    <div class="item">
        <div class="item-content">
            <div class="content-header">                         
                <a>{{ signal.title }}</a>
                <h4>#{{ signal.coin }}</h4>
                <p>{{ signal.date.toLocaleString() }}</p>
            </div>
            <div class="content-body">  
                <img [src]="signal.attachment">
                <section class="mat-typography targets">
                    <a><strong>Buy around:</strong> {{ signal.target.buy }}</a>
                    <mat-divider></mat-divider>
                    <a *ngFor="let profit of signal.target.profits; let i = index">
                        <strong>TP {{ i+1 }}:</strong> {{ profit }}
                    </a>
                    <mat-divider></mat-divider>
                    <a><strong>Stop-loss:</strong> {{ signal.target.stop }}</a>
                </section>
            </div>
            <div class="content-footer">
                <p class="mat-typography">{{ signal.body }}</p>
            </div>
        </div>
        <div class="sign" [matTooltip]="iconTooltip()">
            <mat-icon>{{ icon() }}</mat-icon>
        </div>
    </div>
</div>