$break-small: 600px;
$break-large: 500px;

$color-primary: rgb(17, 34, 51);
$color-text-primary: #fff;
$color-text-heading: #285684;
$color-text-subheading: #395067;
$color-text-secondary: #c51b20;

$color-background-light: #f9f9f9;
$color-background: rgb(239, 239, 239);
$color-control: #fefefe;
$color-sidepanel: #fafbfc;
$color-border: #dcdcdd;



