/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~@angular/material/theming';
@import './variables';

html, body {
    margin: 0;
    background: $color-background;
    width: 100%;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.scrollable-container {
    position: relative;
}

.button-primary {
    color: $color-text-primary;
    background: $color-text-secondary;
}
