@import '~@angular/material/theming';
@import '~sass/variables';
@import '~sass/global';


.container {
    margin-top: 64px;
    @media only screen and (max-width: $break-small) {
        margin-top: 56px;
    }
}

mat-toolbar.in-body {
    background: $color-primary;
    top: 0;
    z-index: 4;
    position: fixed;
    text-align: left;
    display: flex;
    justify-content: center;

    .toolbar-content {
        width: 870px;
        display: flex;
        justify-content: space-between;

    
    }
}

.button-text {
    height: 18px;
}

.burger {
    color: white;
}
.profile-buttons {
    color: $color-text-primary;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    button {
        width: 60px;
    }

    mat-icon {
        width: 60px;
        font-size: 40px;
    }
    .button-wrapper{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .profile-icon {
        border-radius: 5px;
        border: 2px solid $color-primary;
        height: 25px;
        width: 25px;
    }
    .profile-name {
        margin-top: -11px;
        font-size: 18px;
        margin-bottom: 0px;
        color: $color-text-primary;
    }
    .profile-login {
        font-size: 15px;
        color: #fff;
    }
}

.title {
    color: $color-text-primary;
    padding: 0;
    font-weight: 500;
    font-size: 26px;
    display: flex;
    flex-direction: row;
    align-items: center;
    .logo {
        cursor: pointer;
        margin-right: 5px;
        border: 2px solid white;
        border-radius: 39px;
        background: white;
        width: 40px;
        height: 38px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        img {
            margin-top: -6px;
            width: 35px;
            height: 35px;
        }
    }
    .navigation-toolbar {
        display: flex;
        flex-direction: row;
        align-items: center;
        .title-text {
            padding-right: 10px;
            h1 {
                color: $color-text-primary;
            }
            p {
                color: $color-text-secondary;
                font-weight: 600;
                font-size: 14px;
                margin-top: -5px;
                margin-bottom: 0;
            }
        }
    }
}
