@import '~@angular/material/theming';
@import '~sass/mixins';
@import '~sass/variables';

.title {
    font-weight: 500;
    font-size: 26px;
    padding-top: 10px;
  }

mat-toolbar.in-body {
    background: $color-primary;
    top: 0;
    z-index: 4;
    position: fixed;
    text-align: left;
    display: flex;
    justify-content: center;

    .toolbar-content {
        width: 900px;
        display: flex;
        justify-content: space-between;
    }
}

.profile-buttons {
    color: $color-text-primary;
    display: flex;
    align-items: center;
}

.title {
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    .logo {
        margin-right: 5px;
        border: 2px solid white;
        border-radius: 39px;
        background: white;
        width: 40px;
        height: 38px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        img {
            margin-top: -6px;
            width: 35px;
            height: 35px;
        }
    }
    .title-text{
        h1 {
            color: $color-text-primary;
        }
        p {
            color: $color-text-secondary;
            font-weight: 600;
            font-size: 14px;
            margin-top: -5px;
            margin-bottom: 0;
        }
    }
}
