<div class="container">
    <div class="signals-content">
        <div class="title">
            <h2 class="mat-h2">Новости</h2>
            <mat-menu #menu="matMenu" xPosition="before">
                <a mat-menu-item disabled class="mat-titile">Отображать:</a>
                <a mat-menu-item><mat-checkbox checked=true >Новости</mat-checkbox></a>
                <a mat-menu-item><mat-checkbox checked=true >Сигналы</mat-checkbox></a>
            </mat-menu>
            <div class="settings">
                    <mat-form-field class="sort">
                        <mat-select  placeholder="УПОРЯДОЧИТЬ:" >
                            <mat-option value="date"> Дате </mat-option>
                            <mat-option value="lvl"> Уровню </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <button mat-icon-button (click)="filter=''; applyFilter('');isFilterExpanded=!isFilterExpanded;" matTooltip="Filter"><mat-icon>search</mat-icon></button>
                    <mat-form-field *ngIf="isFilterExpanded" [@filterExpand] (@filterExpand.done)="focusFilter()">
                        <input matInput type="text" [focus]="focusTrigger" [(ngModel)]="filter" (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                        <button mat-button *ngIf="filter" matSuffix mat-icon-button aria-label="Clear" (click)="filter=''; applyFilter('');">
                            <mat-icon>close</mat-icon>
                        </button>
                    </mat-form-field>
                <button mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon>more_vert</mat-icon>
                </button>
            </div>

        </div>

        <div class="news-control">
            <div class="news-list">
                <news-control *ngFor="let item of news; trackBy:identify" [news]="item"></news-control>
            </div>           
        </div>

        <div class="pagination"> 
            <button mat-button><mat-icon>chevron_left</mat-icon> Предыдущие</button>
            <button mat-button> Следующие <mat-icon>chevron_right</mat-icon></button>
        </div>
    </div>
</div>