@import '~@angular/material/theming';
@import '~sass/variables';

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    background: $color-background-light;

}

.signals-content {
    width: 900px;
    background: $color-control;
    border-right: 1px solid $color-border;
    border-left: 1px solid $color-border;
}

.title {
    color: $color-text-secondary;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    margin-left: 40px;
    h2 {
        margin: 0;
    }
    .sort {
        width: 150px;
    }
}

.news-list {
    padding-left: 40px;
}

.pagination {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-bottom: 10px;
}