<div class="container">
    <div class="content mat-typography">
        <div class="wrapper">
            <div class="heading">  
                <img src="./assets/images/coin-teaching.png">
                <div class="heading-wrapper">          
                    <h1 class="title"> Обучение трейдину криптовалют</h1>
                    <h3 class="subtitle"> Полный курс обучения под руководством наставника</h3>
                </div>
            </div>
            <div class="Body"> 
                Добрый день,
                <br>
                <br>
                Добрый день деньдень деньдень день деньдень деньдень день деньдень деньдень день деньдень деньдень день деньдень деньдень день деньдень деньдень день деньдень деньдень день деньдень деньдень день деньдень деньдень день деньдень деньдень день деньдень деньдень день деньдень деньдень день деньдень деньдень день деньдень деньдень день деньдень деньденьvдень деньдень деньдень
            </div>
            <div class="footer">
                
                <p><strong>Свяжитесь с наставником для подробностей</strong></p>
                <a mat-raised-button href="https://t.me/AngelsTAP"><img src="./assets/images/telegram-app.png">Telegram</a>
            </div>
        </div>
    </div>
</div>