<div class="container">
    <div class="content mat-typography">
        <mat-horizontal-stepper [linear]="true" #stepper>
            <mat-step  label="Подписка" [completed]="false">
                <div class="page first">
                    <h2 class="primary-header">Выберите подписку</h2>
                    <div class="panels">
                        <div *ngFor="let subscription of subscriptions" (click)="setSub(subscription)" class="subscription">
                            <h2 class="header">{{ subscription.name }}</h2>
                            <h1 class="price">{{ subscription.price + ' ' + subscription.exchange }}</h1>
                            <ul>
                                <li *ngFor="let text of subscription.description"><mat-icon>label</mat-icon><div class="text">{{ text }}</div></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </mat-step>
            <mat-step *ngIf="!profile" [stepControl]="registrationFormGroup" label="Регистрация">
                <div class="page">
                    <h2 class="primary-header">Регистрация</h2>
                    <form class="registration" [formGroup]="registrationFormGroup">
                        <div class="names">


                        </div>
                        <div class="registration-item">
                            <mat-icon>account_circle</mat-icon>
                            <mat-form-field>
                                <input matInput placeholder="Логин" formControlName="loginControl" required>
                                <mat-error *ngIf="this.registrationFormGroup?.controls['loginControl'].invalid">{{getLoginErrorMessage()}}</mat-error>
                            </mat-form-field>
                        </div>

                        <div class="registration-item">
                            <img src="assets/images/telegram-app-brown.png" style="width: 24px;">
                            <mat-form-field hintLabel="Телеграм нужен для унификации Вашего аккаунта">
                                <span matPrefix>@</span>
                                <input matInput placeholder="Telegram" formControlName="telegramControl" required>
                                <mat-error *ngIf="this.registrationFormGroup.controls['telegramControl'].invalid">{{getTelegramErrorMessage()}}</mat-error>
                            </mat-form-field>
                        </div>

                        <div class="registration-item">
                            <mat-icon >fingerprint</mat-icon>
                            <mat-form-field>
                                <input type="password" matInput placeholder="Пароль" formControlName="passwordControl" required>
                                <mat-error *ngIf="this.registrationFormGroup.controls['passwordControl'].invalid">{{getPasswordErrorMessage()}}</mat-error>
                            </mat-form-field>
                        </div>

                        <div class="registration-item">
                            <mat-icon >fingerprint</mat-icon>
                            <mat-form-field>
                                <input type="password" matInput placeholder="Подтвердите пароль" formControlName="confirmPasswordControl" required>
                                <mat-error *ngIf="this.registrationFormGroup.controls['confirmPasswordControl'].invalid">{{getConfirmPassErrorMessage()}}</mat-error>
                            </mat-form-field>
                        </div>

                        <h2 class="subheader">Дополнительно</h2> 

                        <div class="registration-item">                      
                            <mat-icon >face</mat-icon>
                            <mat-form-field>
                                <input matInput placeholder="Имя" formControlName="firstNameControl">
                            </mat-form-field>
                        </div>
                        <div class="registration-item">                      
                            <mat-icon>pets</mat-icon>
                            <mat-form-field>
                                <input matInput placeholder="Фамилия" formControlName="lastNameControl">
                            </mat-form-field>
                        </div>

                        <div class="process-step">
                            <button class="button-primary" mat-button matStepperPrevious>Назад</button>
                            <button class="button-primary" mat-button matStepperNext>Далее</button>
                        </div>
                    </form>
                </div>
            </mat-step>
            <mat-step *ngIf="selectedSub?.price !== 0" [stepControl]="thirdControl" label="Оплата">
                <button class="button-primary" mat-button matStepperPrevious>Назад</button>
                <button class="button-primary" mat-button matStepperNext>Далее</button>
            </mat-step>
            <mat-step label="Done">
                <button mat-raised-button routerLink="/profile">Войти в профиль</button>
            </mat-step>
        </mat-horizontal-stepper>
    </div>
</div>