<div class="container">
    <div class="content mat-typography">
        <mat-horizontal-stepper [linear]="true" #stepper>
            <mat-step  label="Подписка" [completed]="false">
                <div class="page-first">
                    <h2>Выберите подписку</h2>
                    <div class="panels">
                        <button mat-button (click)="getSub('free')" class="first">
                            <h2>Бесплатная</h2>
                            <h1>0 BTC</h1>
                            <ul>
                                <li><mat-icon>label</mat-icon><div class="text">Ознакомление с контентом</div></li>
                                <li><mat-icon>label</mat-icon><div class="text">Бесплатные сигналы</div></li>
                                <li><mat-icon>label</mat-icon><div class="text">Разборы некоторых монет</div></li>
                            </ul>
                        </button>
                        <button mat-button (click)="getSub('mounth')" class="second">
                            <h2>Ежемесячная</h2>
                            <h1>0.02 BTC</h1>
                            <ul>

                                <li><mat-icon>label</mat-icon><div class="text">Приватные сигналы</div></li>
                                <li><mat-icon>label</mat-icon><div class="text">Приватный чат участников</div></li>
                                <li><mat-icon>label</mat-icon><div class="text big"><div>Продление подписки,</div><div class="sec">если месячный профит </div><div class="sec"> составил &lt; 60%</div></div></li>
                            </ul>
                        </button>
                        <button mat-button (click)="getSub('unlimit')" class="third">
                            <h2>Безлимитная</h2>
                            <h1>0.04 BTC</h1>
                            <ul>
                                <li><mat-icon>label</mat-icon><div class="text">Безлимитные сигналы</div></li>
                                <li><mat-icon>label</mat-icon><div class="text">Личные консультации</div></li>
                                <li><mat-icon>label</mat-icon><div class="text">Разбор Ваших монет</div></li>
                            </ul>
                        </button>
                    </div>
                </div>
            </mat-step>
            <mat-step [stepControl]="registrationFormGroup" label="Регистрация">
                    <form class="registration" [formGroup]="registrationFormGroup">
                            <div class="names">
                                <mat-icon >face</mat-icon>
                                <mat-form-field>
                                    <input matInput placeholder="Имя" formControlName="firstNameControl">
                                </mat-form-field>
                                <mat-icon>pets</mat-icon>
                                <mat-form-field>
                                    <input matInput placeholder="Фамилия" formControlName="lastNameControl">
                                </mat-form-field>
                            </div>
                            <div class="registration-item">                      
                                <mat-icon>account_circle</mat-icon>
                                <mat-form-field>
                                    <input matInput placeholder="Логин" formControlName="loginControl" required>
                                    <mat-error *ngIf="this.registrationFormGroup.controls['loginControl'].invalid">{{getLoginErrorMessage()}}</mat-error>
                                </mat-form-field>
                            </div>

                            <div class="registration-item">
                                <mat-icon>mail</mat-icon>
                                <mat-form-field>
                                    <input matInput placeholder="Email" formControlName="emailControl" required>
                                    <mat-error *ngIf="this.registrationFormGroup.controls['emailControl'].invalid">{{getEmailErrorMessage()}}</mat-error>
                                </mat-form-field>
                            </div>

                            <div class="registration-item">
                                <mat-icon >fingerprint</mat-icon>
                                <mat-form-field>
                                    <input type="password" matInput placeholder="Пароль" formControlName="passwordControl" required>
                                    <mat-error *ngIf="this.registrationFormGroup.controls['passwordControl'].invalid">{{getPasswordErrorMessage()}}</mat-error>
                                </mat-form-field>
                            </div>

                            <div class="registration-item">
                                <mat-icon >fingerprint</mat-icon>
                                <mat-form-field>
                                    <input type="password" matInput placeholder="Подтвердите пароль" formControlName="confirmPasswordControl" required>
                                    <mat-error *ngIf="this.registrationFormGroup.controls['confirmPasswordControl'].invalid">{{getConfirmPassErrorMessage()}}</mat-error>
                                </mat-form-field>
                            </div>

                        <div>
                            <button mat-button matStepperPrevious>Назад</button>
                            <button mat-button matStepperNext>Далее</button>
                        </div>
                </form>
            </mat-step>
            <mat-step *ngIf="selectedSub!='free'" [stepControl]="thirdControl" label="Оплата">
                <button mat-button matStepperPrevious>Назад</button>
                <button mat-button matStepperNext>Далее</button>
            </mat-step>
            <mat-step label="Done">
                <button mat-raised-button routerLink="/profile">Войти в профиль</button>
            </mat-step>
        </mat-horizontal-stepper>
    </div>
</div>