@import '~sass/variables';

.container {
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.content {
    position: fixed;
    height: calc(100% - 56px);
    width: 100%;
    max-width: 900px;
    overflow-y: scroll;
    background: $color-control;
    border-right: 1px solid $color-border;
    border-left: 1px solid $color-border;
}
mat-horizontal-stepper {
    height: 100%;;
}
mat-step {
    width: 100%;
    height: 100%;
}

.process-step {
    padding-top: 10px;
    button {
        margin-right: 10px;
    }
}
// Choose sub --------

.page {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .primary-header,  {
        font-family: 'Fira Sans',sans-serif;
        font-size: 28px;
        color: $color-text-secondary;
    }
    .subheader {
        color: $color-text-secondary;
    }
}
.panels {
    width: 100%;
    
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

    .subscription {
        display: flex;
            padding: 25px;
        flex-direction: column;
        // align-items: center;
        justify-content: flex-start;
        min-width: 250px;
        min-height: 200px;
        margin-bottom: 10px;
        width: 30%;
        border: gainsboro 1px solid;
        &:nth-child(1) {
            .header {              
                background: #dadada;
            }
            background: rgba(0, 0, 0, 0.078);
        }
        &:nth-child(2) {
            .header {              
                background: rgba(255, 165, 0, 0.29);
            }
            background: rgba(255, 165, 0, 0.29);
        }
        &:nth-child(3) {
            .header {              
                background: rgba(156, 249, 150, 0.32);
            }
            background: rgba(156, 249, 150, 0.32);
        }
        .header { 
            padding-top: 10px;
            margin-bottom: 12px;
        }
        .price {
            padding-top: 10px;
            margin-bottom: 8px;
            // color: #790212;
            // //background: brown;
            // font-weight: 700;
        }
        .text {
            word-break: break-word;
        }
    }
    
    ul {
        padding-left: 0;
    }
    li {
        display: flex;
        align-items: center;
        mat-icon { 
            font-size: 20px;
            width: 20px;
            height: 20px;
            color: #790212;
            padding-right: 4px;
        }
        .text {
            text-align: start;
            &.big {
                .sec {
                    margin-top: -15px;
                }
            }
        }
    }
}

// Registration

.registration {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; 
    
    min-width: 550px;
    .names {
        width: 60%;
        display: flex;
        align-items: center;
        mat-form-field {
            
            padding: 0 2%;
            width: 40%;
        }
    }
    .registration-item {
        display: flex;
        align-items: center;
        width: 50%;
        mat-form-field {
            padding: 0 2%;
            width: 85%;
        }
    }

    mat-icon {
        color: brown;
    }

}