<div class="container sub">
    <div class="title mat-typography">
        <h3>Подписка: Месячная</h3>
        <h3>Истекает через: <strong>13 дней</strong></h3>
    </div> 
    <button mat-raised-button color="warn">Продлить</button>
</div>
<div class="container">
        <section class="mat-typography">
            </section>
              <mat-form-field>
                  <textarea matInput matTextareaAutosize matAutosizeMaxRows="10" matAutosizeMinRows="8" placeholder="Задать вопрос"></textarea>
                </mat-form-field>
                <div class="footer"> 
                        <button mat-button> Задать <mat-icon>chevron_right</mat-icon></button>
                    </div>
    </div>