@import '~@angular/material/theming';
@import '~sass/mixins';

%container {
    padding: 15px;
    background: white;
    margin: 20px 20px 5px 5px;
    @include mat-elevation(2);
    display: flex;
    flex-direction: column;

}

.container{
    @extend %container;
}

.sub {
    @extend  %container;
    align-items: center;
}

.title { 

    text-align: center;
}

mat-form-field {
    width: 100%;
}

.footer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}