<div class="container">
    <div class="content mat-typography">
        <div class="wrapper">
            <div class="heading">  
                <img src="./assets/images/money-bag.png">
                <div class="heading-wrapper">          
                    <h1 class="title"> Доверительное управление</h1>
                    <h3 class="subtitle"> Приумножте свой капитал с помощью наших зананий</h3>
                </div>
            </div>
            <div class="Body"> 
                    <br>
                    <div style="text-indent: 20px">
                        Добрый вечер, дорогие друзья! Рад сообщить вам о том, что мы открыли новую услугу – услугу доверительного управления.
                    </div> 
                    <br>
                    <mat-list>
                        <mat-list-item>
                            <mat-icon>label</mat-icon>
                            <p>Специально создан и верифицирован аккаунт на таких биржах , как: Poloniex, Bitfinex. Также будет создан отдельный чат-канал Telegram, где будут только те люди, которые предоставили свои депозиты(по желанию, естественно). Отчет по сделкам и профитам будут предоставляться каждые 15 дней.</p></mat-list-item>
                        <mat-list-item>
                            <mat-icon>label</mat-icon>
                            <p>Прибыль будет устанавливаться для каждого участника в процентном соотношении относительно общего фонда. Размер получаемого процента будет зависеть от суммы  входа в фонд. При входе или выходе из фонда, доли всех участников будут пересчитываться.                                  
                                Иными словами: торгуем всем фондом. Если наша компания принесла фонду 50% прибыли, то к доле каждого участника будет прибавлено 50%.</p></mat-list-item>
                        <mat-list-item>
                            <mat-icon>label</mat-icon>
                            <p>Комиссия за услуги практически минимальна. Многие берут от 30 до 50% от прибыли. Я же буду брать всего 25% комиссии от чистой прибыли, не более того. К примеру, если вы доверили нам 1000$, и я, за какой-то промежуток времени сделал 100% профита, то чистый мой доход составит 250$. Вы же получаете 750$. Если вы, вдруг, решите забрать свои деньги, мы вернем вам 1750$(1000 ваш депозит+750 профит со сделок).</p>
                        </mat-list-item>
                        <mat-list-item>
                            <mat-icon>label</mat-icon>
                            <p>Минимальная сумма входа – 1250$. Входить в фонд можно неограниченное кол-во раз.
                                4.1 1250-3500$. Запрос на вывод средств можно будет сделать не ранее, чем через 2 месяца с момента входа
                                4.2 3500$ и более. Запрос можно будет сделать не ранее, чем через 1 месяц с момента входа</p>
                        </mat-list-item>
                    </mat-list>
                    <br>
                    <strong>Риски и ответственность сторон.</strong>
                    <br>
                    <div style="text-indent: 20px">
                        На крипторынке, как и на обычном рынке, существует риск потери части средств. Это происходит из-за того, что трейдер не выполняет обязательные правила торговли. Но, все же, может случится все, что угодно, поэтому каждый участник, который отдает свои средства в фонд ДУ должен осознавать риски  и поручиться за то, что в случае частичной потери средств не будете иметь претензий к нашему фонду. 
                        Я не менее вашего заинтересован в получении прибыли, поэтому взаимовыгодные  условия превыше всего! Мой риск в данном случае – это моя репутация. Она для меня дороже денег!
                    </div>  
            </div>
            <div class="footer">
                
                <p><strong>Свяжитесь с наставником для подробностей</strong></p>
                <a mat-raised-button href="https://t.me/AngelsTAP"><img src="./assets/images/telegram-app.png">Telegram</a>
            </div>
        </div>
    </div>
</div>